<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or Processing">
    <experienceAnalytics>
      <aggregation>
        <!-- Sitecore.ExperienceAnalytics.Aggregation.FlexibleMetrics namespace
             within Sitecore.ExperienceAnalytics.Aggregation.dll is your best friend -->
        <flexibleDimensions>
          <!-- Operating system / DON'T forget to deploy marketing definitions segments ;) / -->
          <dimension id="{1E52DF04-3C38-42E5-AA99-9EB6AB071E2E}" type="Sitecore.ExperienceAnalytics.Aggregation.FlexibleMetrics.Framework.FlexibleDimension`2[[CustomReport.Demo.FlexibleDimensions.OperatingSystemMetrics, CustomReport.Demo], [Sitecore.XConnect.Collection.Model.OperatingSystemData, Sitecore.XConnect.Collection.Model]], Sitecore.ExperienceAnalytics.Aggregation">
            <param type="CustomReport.Demo.FlexibleDimensions.OperatingSystemGroupResolver, CustomReport.Demo"/>
            <param type="CustomReport.Demo.FlexibleDimensions.OperatingSystemFactCalculator, CustomReport.Demo"/>
            <!-- No need for more params. IKeyComposer is marked as internal which limits us to using only this contructor of FlexibleDimension<TOutputValues, TInputEvents>. -->
            <InteractionFilters hint="list">
              <!-- All implement IInteractionFilter -> bool ExcludeFromAggregation(Interaction interaction); 
                   Basically these filters exclude some internal Sitecore interactions from aggregation and are used on all flexible dimensions -->
              <InteractionFilter type="Sitecore.ExperienceAnalytics.Aggregation.Filters.ExmSyntheticEventFilter, Sitecore.ExperienceAnalytics.Aggregation"/>
              <InteractionFilter type="Sitecore.ExperienceAnalytics.Aggregation.Filters.WebVisitFilter, Sitecore.ExperienceAnalytics.Aggregation"/>
            </InteractionFilters>
          </dimension>
        </flexibleDimensions>
      </aggregation>
    </experienceAnalytics>
    <settings>
      <!-- EXPERIENCE ANALYTICS - AGGREGATION - SEGMENT DEPLOY DATE OFFSET PADDING
           Controls additional padding when interaction's SaveDateTime is compared with segment's deploy date.
           The timespan built from the value of this setting is added to the segment's deploy date.
           When a segment is being deployed, the DeployDate will be DateTime.UtcNow.Add(SegmentDeployDateOffsetPadding)
           Interaction data for the particular segment will be processed if interaction.SaveDateTime > segment.DeployDate
           Default value: 00:30:00 (30 minutes)
           
           Reduced to 10 sec for demo purpuses. -->
      <setting name="ExperienceAnalytics.Aggregation.SegmentDeployDateOffsetPadding" value="00:00:10" />
    </settings>
  </sitecore>
</configuration>